# Python Virtual Environment
.venv/

# Datasets
data/

# No need it notebooks
notebooks/*
!notebooks/LibraryExplanation.ipynb

# Results
results/

# Model Checkpoints and Outputs
results/
checkpoints/
*.pt
*.pth

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDE Settings e Sicurezza
.vscode/
.env

# egg-info
*.egg-info/
*.egg

# requires
src/podcnf.egg-info/
requires.txt